$striped-color:#f2f2f2;
$table-border-color:#DBDBDB;

//.custom-table{
//  border-left: 1px solid $table-border-color  !important;;
//}
//.n-data-table-tr th{
//  background: darken($striped-color,5%) !important;
//  //background: darken(#00acc1,3%) !important;
//  //color: #ffffff !important;
//  //font-weight: bold !important;
//  border-top: 1px solid $table-border-color  !important;
//  border-bottom: 1px solid $table-border-color  !important;
//  border-right: 1px solid $table-border-color  !important;
//}
//.n-data-table-tr td{
//  border-bottom: 1px solid $table-border-color  !important;
//  border-right: 1px solid $table-border-color  !important;
//}
//.n-data-table-tr:nth-child(2n){
//  >td{
//    background: $striped-color !important;
//  }
//}
//全局设置selectPop的样式
.n-base-select-menu .n-base-select-menu__empty {
  padding: 8px 0;
}

//.n-base-select-menu .n-base-select-option.n-base-select-option--selected {
//  color: #262626;
//  background-color: #ffffff;
//}
//.n-base-select-menu .n-base-select-option.n-base-select-option--pending {
//  background-color: #ffffff;
//}
//.n-base-select-menu .n-base-select-option:hover{
//  background-color: #eff0f0;
//}
//.n-base-select-menu .n-base-select-option{
//  min-width: 104px;
//}

//全局设置input组件的样式
.n-input {
  &:not(.n-input--disabled).n-input--focus .n-input__state-border{
    box-shadow: none;
  }
}
//全局设置dialog样式
.modal-dialog{
  padding: 0;
  > .n-dialog__title{
    padding: 16px 24px;
    border-bottom: 1px solid #f0f0f0;
  }
  > .n-dialog__content{
    padding: 24px;
    margin: 0;
    border-bottom: 1px solid #f0f0f0;
  }
  > .n-dialog__action{
    padding: 10px 16px;
  }
}
