* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

.default-green {
  background-color: #4caf50 !important;
  color: #fff;
}

button {
  cursor: pointer;
}

.content {
  display: flex;
  /* height: 100%; */
  height: calc(100% - 51px);
}

.left {
  width: 240px;
  box-sizing: border-box;
  margin-right:10px;

}

.right {
  flex: 1;
  overflow-y: auto;
  box-sizing: border-box;
}
