.common-table table,
.common-table tr,
.common-table td,
.common-table th {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.common-table table {
    width: 80%;
}

.common-table th,td {
    padding:5px 10px;
}

.common-table th {
    background-color: rgb(98, 209, 122);
    color:white;
}

.common-table tr:hover {
    background-color: rgba(128, 128, 128, 0.431);
}